/* 
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

.header{
    height: 34vw;
    margin: 30px auto ;
    position: relative;
    
}

.header h2 {
    font-weight: 500;
    color: #E83610;
    font-size: max(4.5vw,22px);
    font-family: "Jersey 25", sans-serif;
    animation: fadeIn 3s;
    align-items: center;
}

.header p {
    color: rgb(230, 14, 86);
    font-size: 1.2vw;
    font-weight: 500;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    animation: fadeIn 3s;
    
}

.header button {
    border: none;
    font-weight: 500;
    color: white;
    background-color: black;
    padding: 1vw 12px;
    font-size: max(1vw,12px);
    border-radius: 40px;
    animation: fadeIn 3s;
}

.carousel-indicators [data-bs-target]{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: black;
}
 */

 $color_1: #E83610;
$color_2: rgb(230, 14, 86);
$color_3: white;
$font-family_1: "Jersey 25", sans-serif;
$font-family_2: "Encode Sans Semi Condensed", sans-serif;
$background-color_1: black;

@import "https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Jersey+25&display=swap";
.header {
	height: 34vw;
	margin: 30px auto;
	position: relative;
	h2 {
		font-weight: 500;
		color: $color_1;
		font-size: max(4.5vw,22px);
		font-family: $font-family_1;
		animation: fadeIn 3s;
		align-items: center;
	}
	p {
		color: $color_2;
		font-size: 1.2vw;
		font-weight: 500;
		font-family: $font-family_2;
		animation: fadeIn 3s;
	}
	button {
		border: none;
		font-weight: 500;
		color: $color_3;
		background-color: $background-color_1;
		padding: 1vw 12px;
		font-size: max(1vw,12px);
		border-radius: 40px;
		animation: fadeIn 3s;
	}
}
.carousel-indicators {
	[data-bs-target] {
		border-radius: 100%;
		width: 10px;
		height: 10px;
		background-color: $background-color_1;
	}
}

a.carousel-control-prev, a.carousel-control-next {
	background-color: burlywood;
}