.container img {
    height: 140%;
    justify-content: space-between;
    padding-bottom: 20px;
}
.container {
    padding-bottom: 50px;
}
.quantity {
    display: flex;
    justify-content: space-between;
    .icon-FA{
        padding-top: 5px;
    }
}
.btn-outline-primary .btn-primary{
    border-color: tomato;
    color: black;
}
.btn-outline-primary:hover{
    background-color: tomato;
}
.btn-primary:hover{
    background-color: tomato;
}