.product-details-left-image img{
    position: relative;
    height: auto;
    width: 495px;
    overflow: hidden;
    
}
.swiper-wrapper img {
    display: flex;
    flex-direction: column;
    height: 100px;
}