$font-family_1: "Iceland", sans-serif;

@import "https://fonts.googleapis.com/css2?family=Iceland&display=swap";
.product-display {
	margin-top: 30px;
	h2 {
		font-size: max(2vw,30px);
		font-weight: 600;
		font-family: $font-family_1;
		font-style: normal;
	}
}
.product-display-list {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
	margin-top: 30px;
	gap: 30px;
	row-gap: 30px;
	img, .product-item-name p{
		cursor: pointer;
	}
}
